.aboutWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-secondary);
}
.aboutWrapperInner {
  display: flex;
  width: 75%;
  margin: 32px 0px;
}
.aboutHeader {
  display: flex;
  flex-direction: column;
}
.aboutSubtitleUpper {
  color: var(--accent);
  font-size: var(--font-header);
  margin: 16px 0px;
}
.aboutTitle {
  font-weight: 600;
  font-size: var(--font-title);
  margin: 16px 0px;
}
.aboutContent {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.profileImageWrapper {
  width: 30%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 16px;
}

.aboutProfileImage {
  width: 100%;
  max-width: 250px;
  aspect-ratio: 0.75;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 0.4);
}

.profileText {
  margin: 16px 32px 16px 0px;
}
.aboutSubtitle {
  margin: 32px 0px 16px 0px;
  font-size: var(--font-header);
}

.aboutSubtitleAccented {
  color: var(--accent);
}
