.navbarLogoWrapper {
  flex-grow: 1;
}

.navbarLogo {
  height: 40px;
  object-fit: contain;
}

.navbarItem {
  color: var(--primary);
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 16px;
}

.navbarItem:hover {
  color: var(--secondary);
}
