.navbarLogoWrapper {
  flex-grow: 1;
  font-size: var(--font-header);
}

.navbarLogoWrapper span {
  color: var(--accent);
}

.sectionsDrawerButton {
  display: none;
}

.navbarLogoWrapperMobile {
  display: none;
}

.navbarLogo {
  height: 40px;
  object-fit: contain;
}

.navbarItem {
  color: var(--primary);
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 16px;
  display: inline-block;
  position: relative;
}

.navbarItem:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.navbarItem:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sectionsDrawer {
  width: 250px;
  background-color: var(--background-secondary);
  height: 100%;
}
.sectionsDrawerHeader {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.sectionDrawerButton {
  width: 100%;
}

.sectionDrawerLink {
  color: var(--primary);
  width: 100%;
  display: flex;
  margin: 8px 16px;
}

@media only screen and (max-width: 600px) {
  .navbarLogoWrapperMobile {
    display: flex;
    flex-grow: 1;
    font-size: var(--font-header);
  }

  .navbarLogoWrapperMobile span {
    color: var(--accent);
  }

  .navbarLogoWrapper {
    display: none;
  }

  .navbarItemsWrapper {
    display: none;
  }

  .sectionsDrawerButton {
    display: inline-block;
  }
}
