body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --page-height: calc(100vh - var(--navbar-height));
  --navbar-height: 64px;
  --background: #252525;
  --background-secondary: #212121;
  --primary: #ffffff;
  --secondary: #efefef;
  --accent: #e63333;
  --font-primary: 16px;
  --font-secondary: 14px;
  --font-title: 44px;
  --font-header: 20px;
}
